<div id='content'>
	<%= display_alert %>
	<%= link_to t('backend.product.title'), backend_products_path %>
	<h2><%= t('backend.product.new') %></h2>
	<%= render partial: 'form', locals: { product: @product } %>
</div>